<!DOCTYPE HTML>

<html>
	<head>
		<title>Nick Wiersma</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />		
		<link rel="icon" href="./static/images/favicon.ico" type="image/x-icon">
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
		<script src="https://kit.fontawesome.com/e0c1577df0.js" crossorigin="anonymous"></script>
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">





		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">About me</a></li>
							<li><a href="#two">My skills</a></li>
							<li><a href="#three">What we do at <br> WOW Legal Experience</a></li>
							<li><a href="#four">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>







		<!-- Wrapper -->
			<div id="wrapper">







				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<div class="text-content">
								<h1>Hello,<br>
								  <span id="typed-strings">
									<span>My name is Nick Wiersma.</span>
									<span>Co-fouder and CEO, <br>WOW Legal Experience.</span>
									<span>Python Programmer.</span>
									<span>Web Designer.</span>
									<span>Data Analyst.</span>
								  </span>
								  <span id="typed"></span>
							  </div>
						</div>
					</section>







				<!-- About me -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a class="image"><img src="./static/images/transform.jpg" alt="" data-position="center center" /></a>
							<div class="content" style="background-color:#0099FF; color:#FFFFFF;">
								<div class="inner">
									<h2>
										Transforming Careers:<br>
										From Flooring to Tech Trailblazer. 
									</h2>
									<p>
										I started my career in the Netherlands as a flooring expert but soon realized the toll it was taking on my body. <br>
										Determined to make a change, I decided to turn my life around. <br>
										I made a bold move to Spain, where I could broaden my horizons and immerse myself in a new language.<br>
										In pursuit of personal and professional growth, I have actively pursued various courses to excel in Python programming, data analytics, data management, web development, and other IT-related skills. <br>
										I am deeply passionate about the field of IT and strive to stay ahead in this rapidly evolving industry.<br>
									</p>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="./static/images/wowlegal.jpg" alt="" data-position="top center" /></a>
							<div class="content" style="background-color:#228B22; color:#FFFFFF;">
								<div class="inner">
									<h2>
										WOW Legal Experience:<br> 
										Revolutionising the Legal Sector.
									</h2>
									<p>
										As one of the proud co-founders and CEO of WOW Legal Experience, 
										alongside Karol Valencia, Luis Urbina, and Adolfo Moran, I lead a rapidly growing project 
										that delivers an exceptional tech-based user experience in the global and regional legal sector. 
										With our outstanding multicultural and multidisciplinary team, combined with strategic 
										partnerships and collaborations, we revolutionise and co-create legal processes to enhance accessibility, 
										efficiency, and user-experience.
									</p>
								</div>
							</div>
						</section>
						<section>
							<a class="image"><img src="./static/images/growth.jpg" alt="" data-position="25% 25%" /></a>
							<div class="content" style="background-color:#FFA500; color:#FFFFFF;">
								<div class="inner">
									<h2>
										Unlocking Infinite Possibilities:<br>
										The Power of Lifelong Learning for Personal Growth.
									</h2>
									<p>
										To me, continuous learning is a lifelong journey fueling personal growth, adaptability, and intellectual curiosity. 
										It expands knowledge, boosts confidence, and enhances well-being. 
										Learning equips me with skills for a changing world, embracing technology and staying competitive. 
										It brings fulfillment, deepens understanding, and sparks curiosity. 
										Engaging in learning fosters connections, collaboration, and belonging. 
										Embracing lifelong learning unlocks infinite possibilities for an enriched, purposeful life.
									</p>
								</div>
							</div>
						</section>
					</section>





				<!--My skills-->
					<section id="two" class="wrapper style3 fade-up" style="background-color: #FF6666;">
						<div class="inner">
							<h2>My skills</h2>
							<p>
								I have expertise in various areas that can benefit your project or organization.  
							</p>
							<div class="features">
								<section>
									<h3 class="icon-heading">
										<i class="fa-brands fa-python fa-beat fa-2xl" style="color: #ffffff;"></i>
										Python
									</h3>
									<p>
										<br>
										Proficient in creating robust web frameworks using Python Flask, 
										adept at data manipulation and visualization with NumPy, Pandas, and Matplotlib, 
										and experienced in automating repetitive tasks to enhance productivity.
									</p>
								</section>
								<section>
									<h3 class="icon-heading">
										<i class="fa-solid fa-sitemap fa-beat fa-2xl" style="color: #ffffff;"></i>
										Sitemapping
									</h3>
									<p>
										<br>
										Create sitemaps to plan and organize your website effectively. 
										Sitemaps offer a visual overview of your website's structure, 
										empowering you to make informed decisions regarding content layout, 
										search engine visibility, and user experience.
									</p>
								</section>
								<section>
									<h3 class="icon-heading">
										<i class="fa-brands fa-html5 fa-beat fa-2xl" style="color: #ffffff;"></i>
										HTML5
									</h3>
									<p>
										<br>
										Skilled in utilizing HTML5 to develop modern and interactive web pages, 
										ensuring a seamless user experience and optimized website performance.
									</p>
								</section>
								<section>
									<h3 class="icon-heading">
										<i class="fa-brands fa-css3-alt fa-beat fa-2xl" style="color: #ffffff;"></i>
										CSS3
									</h3>
									<p>
										<br>
										Proficient in CSS3 to style and enhance web pages, bringing visual appeal, 
										responsiveness, and consistent design across different devices and browsers.
									</p>
								</section>
								<section>
									<h3 class="icon-heading">
										<i class="fa-solid fa-database fa-beat fa-2xl" style="color: #ffffff;"></i>
										Effective Data<br>
										Management
									</h3>
									<p>
										<br>
										Experienced in efficient data management techniques, leveraging database systems and data 
										manipulation tools to organize, analyze, and extract valuable insights from large datasets.
									</p>
								</section>
								<section>
									<h3 class="icon-heading">
										<i class="fa-solid fa-chart-line fa-beat fa-2xl" style="color: #ffffff;"></i>
										Data Visualization<br>
										Chart Creation
									</h3>
									<p>
										<br>
										Proficient in creating visually appealing and informative charts, utilizing charting 
										libraries and visualization tools to present data in a clear and engaging manner, 
										facilitating data-driven decision-making.
									</p>
								</section>
							</div>
						</div>
					</section>




				<!-- What we do at WOW Legal Experience -->
				<section id="three" class="wrapper style3 fade-up">
					<div class="inner">
						<h2>What we do at WOW Legal Experience:</h2>
						<p>
							We are the first globally implemented legal design operations agency. <br>
							Bringing together a multidisciplinary team of experts with deep expertise in the legal sector. <br>
							As mentors and partners, we collaborate closely with our clients to co-design, co-create, and co-enabling<br>
							transformative projects and solutions that drive innovation in the legal and justice sectors.<br>
							By prioritizing user and consumer experience, we ensure exceptional outcomes that redefine and exceed the industry standards. <br>
							We are the ones that are not focused on only creating but instead CO-CREATING your project!
							<h3 style="text-align: center;">
								Trust us to elevate your legal and justice initiatives to new heights.
							</h3>
							<br>
						</p>
						<div class="features">
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-lightbulb fa-beat fa-2xl" style="color: #ffffff;"></i>
									Legal innovation<br>
									assistance:
								</h3>
								<p>
									<br>
									We assess your organization's operations to identify key touch points for improvement 
									and alignment with legal and organizational objectives. By optimizing contract management, 
									compliance protocols, and risk mitigation strategies, we enhance operational efficiency, 
									reduce legal risks, and drive overall organizational performance.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-chalkboard-user fa-beat fa-2xl" style="color: #ffffff;"></i>
									Workshops, seminars,<br>
									courses and education:
								</h3>
								<p>
									<br>
									We provide tailored courses for educational institutions and legal teams, equipping them 
									with the knowledge and skills to effectively advise clients on implementing cutting-edge 
									technologies, exploring new domains, and staying abreast of emerging trends. Our courses 
									empower professionals to navigate the evolving legal landscape and drive innovation within their organizations.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-arrow-up-right-dots fa-beat fa-2xl" style="color: #ffffff;"></i>
									Platform evolution:
								</h3>
								<p>
									<br>
									We enhance legal tech platforms, discover new use cases, and improve the selling and 
									functionality of legal tech products. We also assist technology companies entering the legal sector. 
									Additionally, we support legal teams in law firms and companies developing their own legal tech solutions.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-scale-balanced fa-beat fa-2xl" style="color: #ffffff;"></i>
									Legal tech<br>
									innovation:
								</h3>
								<p>
									<br>
									Whether you're a lawyer or not, if you've identified a problem in the legal or justice sector 
									and have an innovative idea to solve it, we can assist you in refining, prototyping, 
									and potentially developing your idea. If the complexity requires it, we can connect you with our 
									network of investors and partners to support the technology's development.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-regular fa-star fa-beat fa-2xl" style="color: #ffffff;"></i>
									WOW Legal Experience<i class="fa-solid fa-hashtag fa-beat fa-2xl" style="color: #ffffff;"></i>NEW LAW
								</h3>
								<p>
									<br>
									Legal advice for digital startups, digital scale-ups, corporate compliance, corporate law (contracts), 
									data protection (cookies), consumer protection, cybersecurity, integrated management systems (ISOs), 
									and immigration law. #newlaw
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-user-plus fa-beat fa-2xl" style="color: #ffffff;"></i>
									Blended legal profiles:<br>
									Elaboration and HR:
								</h3>
								<p>
									<br>
									Identifying the required profiles for building innovation teams in legal tech start-ups, 
									as well as legal innovation teams in law firms and consulting firms. Developing and creating 
									riteria for hiring these profiles and providing assistance in talent search for true UNICORNS.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-solid fa-stairs fa-beat fa-2xl" style="color: #ffffff;"></i>
									Strategic career development:
								</h3>
								<p>
									<br>
									Take charge of your legal career with our strategic career development services. 
									We provide personalized guidance tailored to your ambitions and goals. 
									Our expertise will help you identify growth opportunities, enhance your professional skills, 
									and make informed decisions to propel your career forward. Let us be your partner in unlocking new 
									possibilities and achieving success in the legal field.
								</p>
							</section>
							<section>
								<h3 class="icon-heading">
									<i class="fa-regular fa-handshake fa-beat fa-2xl" style="color: #ffffff;"></i>
									Building and engaging communities:
								</h3>
								<p>
									<br>
									Unlock the power of community with our expert community management services. 
									Whether you need to establish a strong brand presence or grow your networks, 
									we've got you covered. Our team will help you foster engaged communities, 
									drive brand loyalty, and amplify your online presence. 
									Let us be your trusted partner in building vibrant communities that propel your business forward.
								</p>
							</section>
						</div>
					</div>
				</section>



				<!-- Contact me-->
					<section id="four" class="wrapper style1 fade-up">
						<div class="inner">
							<h2 class="icon-heading"><i class="fa-solid fa-message fa-bounce fa-xl" style="color: #ffffff;"></i>Contact me</h2>
							<p>
								You can use the form, e-mail addresses, instantly dial, SMS, WhatsApp, Telegram <br>or contact me through social media.
							</p>
							<div class="split style1">
								<section>
									<form action="submit_form" method="post">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" placeholder="Required" required/>
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" placeholder="Required" required/>
											</div>

											<div class="field">
												<select for="category" name="category" id="category">
													<option value="">- Category -</option>
													<option value="job_offer">Job offer</option>
													<option value="collaboration_request">Collaboration request</option>
													<option value="feedback">Feedback</option>
													<option value="Other">Other</option>
												</select>
											</div>

											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3 class="icon-heading"><i class="fa-solid fa-map fa-beat fa-xl" style="color: #ffffff;"></i>Address:</h3>
											<span>
												Based in Madrid, Spain. <br>
												Worldwide communication available.
											</span>
										</li>
										<li>
											<h3 class="icon-heading"><i class="fa-solid fa-envelope fa-beat fa-xl" style="color: #ffffff;"></i>Email:</h3>
											<a href="mailto:nick@wowlegalx.biz">nick@wowlegalx.biz</a>
											<a href="mailto:nickjwiersma@gmail.com">nickjwiersma@gmail.com</a>

										</li>
										<li>
											<h3 class="icon-heading"><i class="fa-solid fa-phone fa-beat fa-xl" style="color: #ffffff;"></i>Phone:</h3>
											<span><a href="tel:+31611817241">(+31) 6 1181 7241</a></span>
										</li>
										<li>
											<h3 class="icon-heading"><i class="fa-solid fa-user-tie fa-beat fa-xl" style="color: #ffffff;"></i>Social</h3>
											<ul class="icons">
												<li><a href="https://wowlegalx.biz/"><i class="fa-solid fa-globe fa-shake fa-xl" style="color: #ffffff;"></i></i></i><span class="label"></span></a></li>
												<li><a href="https://discordapp.com/users/Wierie#4978"><i class="fa-brands fa-discord fa-shake fa-xl" style="color: #ffffff;"></i><span class="label"></span></a></li>
												<li><a href="https://instagram.com/wowlegalx?igshid=MzRlODBiNWFlZA=="><i class="fa-brands fa-instagram fa-shake fa-xl" style="color: #ffffff;"></i><span class="label"></span></a></li>
												<li><a href="https://www.linkedin.com/in/nick-wiersma-6b2a20225"> <i class="fa-brands fa-linkedin-in fa-shake fa-xl" style="color: #ffffff;"></a></i><span class="label"></span></li>
												<li><a href="https://github.com/nickjwiersma"> <i class="fa-brands fa-github fa-shake fa-xl" style="color: #ffffff;"></a></i><span class="label"></span></li>

											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt" >
				<div class="inner" style="height: 50px;">
					<ul class="menu" >
						<li>&copy; Nick Wiersma. All rights reserved.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>
			<script src="./static/assets/js/typed_strings.js"></script>
	</body>
</html>